*.iml
.kotlin/
.gradle/
**/build/
local.properties
.idea/
.DS_Store
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.jks
*.keystore

# Xcode
iosApp/iosApp.xcworkspace/*
iosApp/iosApp.xcodeproj/*
!iosApp/iosApp.xcodeproj/project.pbxproj
xcuserdata/
DerivedData/
